<form action="#" phx-submit="add">
  <%= text_input :todo, :title, placeholder: "What Do Ya Need To Get Done?"%>
  <%= submit "Add", phx_disable_with: "Adding..."%>
</form>

<%= for todo <- @todos do %>
  <div>
    <%= checkbox(:todo, :done, phx_click: "toggle_done", phx_value: todo.id, value: todo.done) %>
    <%= todo.title%>
    <button phx-click="delete"  phx-value="<%= todo.id %>">Delete</button>
  </div>
<% end %>